{% extends 'base.html' %}

{% block title %}My books{% endblock %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block body %}
    <a href="{% url 'books:add_book' %}" class="add-book">Add Book</a>
    <ol>
        {% for book in books %}
            <li class="book-list">
                <div class="book-title"><a href="{% url 'books:book_detail' pk=book.pk %}?from=my_books">{{ book.title }}</a></div>
                <span class="created-by">Created by: {{ book.created_by.username }}</span>
                <div class="book-details">
                    <span class="book-actions">
                        <a href="{% url 'books:edit_book' pk=book.pk %}">Update</a>
                        <a href="{% url 'books:delete_book' pk=book.pk %}">Delete</a>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ol>
{% endblock %}